/* GLOBALL SETTINGS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-bg-color: #FFEDD5;
    --sub-bg-color: #FED7AA;
    --title-higlight-color: #995000;
    --text-color: #2D2C2A;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto Serif', serif;

    font-size: 62.5%;
}

body{
    font-family: var(--primary-font);
    background-color: var(--body-bg-color);
}

h1, h2, h3, .price{
    color: var(--text-color);
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

h3, .price{
    font-size: 1.6rem;
    line-height: 1.9rem;
}

ul{
    list-style: none;
}

/* HEADER */
header{
    text-align: center;
    padding: 3.2rem 0;
}

header, section{
    max-width: 30rem;
    margin: 0 auto;
}

header h1{
    font-size: 2.8rem;
    line-height: 3.3rem;
    margin-bottom: .4rem;
}

header h1 span{
    color: var(--title-higlight-color);
}

header p{
    color: #000000b3;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

/* SECTION */
section{
    margin-bottom: 2.4rem;
}

section h2{
    font-size: 1.8rem;
    text-align: center;
    line-height: 2.1rem;
    margin-bottom: 2.4rem;
    padding: .8rem 1.6rem;
    background-color: var(--sub-bg-color);
}

ul li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}

li .details{
    max-width: 24rem;
}

.details h3{
    margin-bottom: .8rem;
}

.details p{
    color: #000000b3;
    font-size: 1.4rem;
    line-height: 2.1rem;
}